target/
!.mvn/wrapper/maven-wrapper.jar
.gradle/

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans
.idea

build/
dist/
bin/

# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
